# Ignore environment file
.env

# Ignore other sensitive or local files
/writable/
/public/uploads/
/app/Config/
/vendors/


#find writable/logs -type f -exec git update-index --assume-unchanged {} \;
